@import url("https://fonts.cdnfonts.com/css/marvel");

.background {
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
}

.log {
  font-family: "Marvel", sans-serif;
  color: white;
  justify-content: center;
  border-radius: 2vh;
  margin-top: 60px;
  height: 70vh;
  width: 70vh;
  border: 0.5vh solid rgb(202, 129, 123);
  background-color: rgb(170, 45, 33);
  border-style: outset;
  box-shadow: 5px 10px rgb(8, 0, 0);
}

.username {
  margin-right: 3vh;
  margin-bottom: 4vh;
  margin-left: 3vh;
  margin-top: 2vh;
  width: 32vh;
  border-radius: 1vh;
}

.password {
  margin-right: 3vh;
  margin-bottom: 4vh;
  margin-left: 3vh;
  margin-top: 2vh;
  width: 32vh;
  border-radius: 1vh;
}
