@import url("https://fonts.cdnfonts.com/css/marvel");

.background {
  background-color: rgb(170, 45, 33);
  position: fixed;
  top: 0px;
  width: 100%;

  height: 8vh;
  border-bottom: 2px solid black;
}

.text {
  margin-left: 5vh;
  margin-top: 1vh;
  color: rgb(253, 252, 252);
  font-family: "Marvel", sans-serif;
  font-size: larger;
  text-decoration: none;
  display: block;
}

.text:hover {
  color: rgb(17, 40, 104);
  text-decoration: underline;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.welcome {
  color: white;
  margin-top: 0px;
  text-decoration: none;
  font-family: "Marvel", sans-serif;
  font-size: large;
}

.dropdown {
  margin-top: 2vh;
  font-family: "Marvel", sans-serif;
  display: block;
  overflow: visible;
  display: flex;
  align-items: flex-end;
  margin-left: 145vh;
}

.cart {
  margin-left: 5vh;
  cursor: pointer;
}

.img {
  margin-left: 2vh;
  align-items: flex-start;
}
