@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

.Products {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Merriweather";
  width: 100vh;
  padding: 5vh;
  margin-left: 20vh;
}

.head {
  background-color: rgb(205, 79, 68);
  color: white;
  border: 2px solid black;
}
