@import url("https://fonts.cdnfonts.com/css/marvel");

.background {
  height: 100vh;
}

.log {
  margin-left: 40vh;
  border-radius: 2vh;
  margin-bottom: 5vh;
  margin-top: 50px;
  height: 60vh;
  width: 40vh;
  border: 0.5vh solid rgb(202, 129, 123);
  background-color: rgb(170, 45, 33);
  border-style: outset;
  box-shadow: 5px 10px rgb(8, 0, 0);
  font-family: "Marvel", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
}

.input {
  border-radius: 1vh;
  margin-right: 3vh;
  margin-bottom: 1vh;
  margin-left: 3vh;

  width: 32vh;
}
