@import url("https://fonts.cdnfonts.com/css/marvel");

.img {
  height: 200px;
  width: 150px;
  margin-top: 1vh;
}

.box {
  font-family: "Marvel", sans-serif;
  color: white;
  border-radius: 2vh;
  margin-bottom: 5vh;
  margin-top: 75px;
  height: 50%;
  width: 50%;
  border: 0.5vh solid rgb(202, 129, 123);
  background-color: rgb(170, 45, 33);
  border-style: outset;
  box-shadow: 5px 10px rgb(8, 0, 0);
  margin-left: 20%;
  margin-right: 30%;
}
